body{
  background-color: #0f172a; /* dark slate */
  color: #f8fafc;
  text-align: center;
  font-family: monospace;
}
#whole{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}
#click{
  padding: 20px 40px;
  font-size: 20px;
  background-color: #3b82f6; /* blue */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#content{
  width: 200px;
  padding: 25px;
  background-color: #1e293b;
  border-radius: 10px;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 12px;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: rgb(77, 172, 255);
}