body{
  background-color: #0f172a; /* dark slate */
  color: #f8fafc;
  text-align: center;
}
#whole{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr
}
#click{
  padding: 20px 40px;
  background-color: #3b82f6; /* blue */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#content{
  background-color: #1e293b; /* slightly lighter than body */
  color: #e2e8f0;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 12px;
}