body{
  background-color: rgb(69, 69, 69);
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
}
.Card{
  background-color: brown;
  color: antiquewhite;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.logo{
  background-color: black;
  color: white;
  padding:10px;
  font-size: 20px;
}